<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Curtinhas</title>
</head>

<body>

<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <ol class="navbar navbar-dark bg-dark">
            <li class="nav-item nav-link"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
            <li class="nav-item nav-link"><a href="/logout">Logout</a></li>
        </ol>
    </nav>
</div>

<br>

<div class="container">
    <form method="POST" accept-charset="utf-8" action=".">

        {% csrf_token %}
        <div class="card" style="width: 80%;">

            <div class="card-body">
                <label for="form.url_original" class="form-check-label" role="label">URL ORIGINAL: </label>
                {{ form.url_original }}
                <br>
                <input class="btn btn-outline-success float-right" type="submit" name="enviar" value="Encurtar">

            </div>

        </div>
    </form>
    <br>

    <div class="row">
        {% for i in curta %}
            <div class="col-sm-6">
                <p><a href={{ i.url_original }}>{{ i.url_original }}</a></p>
            </div>

            <div class="col-sm-6">
                <p><a href={{ i.url_curta }}>{{ i.url_curta }}</a></p>
            </div>

        {% endfor %}
    </div>


{% load static %}
<img src="{% static "teste.jpg" %}" alt="My image">


</div>
</body>
</html>