<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Curtinhas</title>
</head>
<body>

<form method="POST" accept-charset="utf-8" action=".">
    <div class="container">
        {% csrf_token %}
        <h1>TESTE</h1>

        <div class="row">
            {{ form.url_original }}

        </div>


        <div class="row">
            {{ form.url_curta }}

        </div>
        <br>

        <input class="btn btn-outline-success" type="submit" name="enviar" value="Enviar">

        {% for i in curta %}
            <p>{{ i.url_curta }}</p>
        {% endfor %}


    </div>
</form>


</body>
</html>